{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
	<header>
		{{> back-button}}
	</header>

	<form class="page__section">
		<h1 class="page__title">Confirm your email address</h1>

		<p class="page__subtitle">To confirm your account, please enter the 4-digit code we sent to your email</p>
		<div class="form">
			<div class="form__item">
				{{> field label="Code" type="number" name="code" placeholder="0000"
				action="signupConfirmForm.change" }}
				<span name="code" class="form__error">Error</span>
			</div>
		</div>

		<button onclick="signupConfirmForm.submit()" class="button button--disabled" type="button">Confirm
			email</button>
		<span class="alert alert--disabled">Attention, an error!</span>

		<span class="link__prefix">Lost code? <a href="/signup-confirm" class="link" id="renew">Send
				again</a></span>
	</form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}